<div class="hero-unit">
<h1>MyStaffing <small>The TimeSheet Revolution</small></h1>

<p>Enfin une gestion du temps de vos équipes rapide et simple.</p>
<% if current_user.nil? %>
<p><%= link_to "S'inscrire !", sign_up_path, :class => "btn btn-primary btn-large" %> </p>
<% end %>
</div>
<div class="row">
	<div class="span4">
		<h2>Intuitif</h2>
		<p>MyStaffing offre une interface extrêmement simple et rapide pour saisir ses disponibilités le plus rapidement et le plus simplement qui soit.</p>
</div>
	<div class="span4">
		<h2>Mobile</h2>
		<p>Accessilbe depuis smartphone, consulter et saisir ses disponibilités en toute cicronstance devient un plaisir.</p>
</div>	
		<div class="span4">
				<h2>Une vision globale</h2>
				<p>Le tableau de bord permet de voir en quelques secondes qui est est ou sera disponible dans les prochains jours.</p>
</div>
</div>